.header__nav__container{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    height: 34px;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1004px;
    
}

.nav__menu__box:not(:last-child){
    margin-right: 15px;
}

.nav__menu__box{
    font-size: 12px;   
}

.nav__menu__box a{
    text-decoration: none;
    color: #767676;
}

.header__main__logo{
    display: flex;
    align-items: center;
    margin-right: 132px;
}

.header__main__logo li{
    padding: 7px 10px;
}

.header__main__logo li:first-child{
    border-right: 1px solid #e2e2e2;
}

.header__main__container{
    display: flex;
    justify-content: center;
}

.header__main{
    width: 1004px;
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.header__main__search{
    display: flex;
    align-items: center;
    border: 2px solid #03a9ff;
    font-size: 12px;
}

.main__search__box{
    width: 230px;
    height: 32px;
    border: none;
}

.main__search__button{
    display: flex;
    justify-content: flex-end;
    background-color: #03a9ff;
    font-size: 20px;
    padding: 5px 5px;
}

.header__main__search span i{
    margin: 0px 10px;
}

.header__main__search span:first-child{
    margin-left: 10px;
}

.header__main__bar{
    background-color: #03a9ff;
    width: 100%;
    height: 34px;
    margin-top: 23px;
    display: flex;
    justify-content: center;
}

.main__bar__container{
    width: 1004px;
}

/* 헤더 끝 */


.left__banner{
    display: flex;
    flex-direction: column;
    width: 90px;
    position: absolute;
    top: 601px;
    right: 90%;
    position: fixed;
}

.left__banner__box{
    width: 85px;
    height: 75px;
    border: 1px solid #edebe9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left__banner__box:not(:first-child){
    border-top: none;
}

.banner__box__text{
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.right__banner__title{
    font-size: 11px;
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #444444;
    color: white;
    padding: 11px 10px 11px 10px;
}

.right__banner__title span:last-child{
    color: #03a9ff;
    margin-left: 5px;
}

.right__banner__imgbox img{
    width: 85px;
    height: 85px;
}

.right__banner__imgbox{
    border: 1px solid #edebe9;
    border-top: none;
    width: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right__banner__imgbox img:not(:last-child){
    margin-top: 8px;
}

.right__banner__arrowbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.left__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-right: 21px;
}

.right__banner__arrowbox span{
    margin-top: 3px;
    font-size: 12px;
}

.right__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-left: 21px;
}

.right__banner{
    position: absolute;
    left: 89%;
    top: 601px;
    position: fixed;
}

/* -------- 배너 끝 ------- */

.body{
    display: flex;
    justify-content: center;
}

.body__container{
    margin-top: 30px;
    width: 1004px;
    height: 994px;
    background-color: #f5f5f5;
}

.body__container__card1{
    margin-left: 85px;
}

.body__container__box1{
    padding-top: 50px;
}

.body__container__box1 span{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
}

.body__container__box1 p{
    color: #767676;
    font-size: 18px;
}

.container__box1__text1{
    margin-top: 20px;
}

.container__box1__text2{
    margin-top: 10px;
    margin-bottom: 30px;
}

.body__conbox{
    margin: 31px 0px 35px 0px;
    width: 324px;
}

.body__conbox:first-child{
    border-right: 1px solid #c8c6c7;
    padding-right: 43px;
    margin-left: 52px;
}

.body__conbox:last-child{
    margin-left: 43px;
}

.body__container__box2{
    width: 834px;
    height: 490px;
    border-top: 4px solid #27303f;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container__box2__text1{
    font-size: 18px;
    font-weight: bold;
    color: #27303f;
}

.box2__id{
    margin-top: 30px;
    width: 324px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2__ps{
    margin-bottom: 35px;
    width: 324px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.box2__id span{
    font-size: 12px;
    color: #444444;
}

.box2__ps span{
    font-size: 12px;
    color: #444444;
}

.box2__id input{
    width: 224px;
    height: 32px;
    margin-bottom: 10px;
    border: 1px solid #c8c6c7;
}

.--ps__input{
    width: 224px;
    height: 32px;
    border: 1px solid #c8c6c7;
}

.in1{
    width: 70px;
    height: 32px;
    border: 1px solid #c8c6c7;
}

.in2{
    width: 21px;
    height: 32px;
    border: 1px solid #c8c6c7;
}

.in3{
    width: 70px;
    height: 32px;
    border: 1px solid #c8c6c7;
}

.box2__buttom{
    width: 324px;
    height: 51px;
    background-color: #03a9ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.--margin{
    margin-top: 81px;
}

.--color{
    color: #27303f;
}

.--backcolor{
    background-color: #767676;
}

.box2__container{
    display: flex;
}

.box2__container2{
    background-color: #f5f5f5;
    width: 734px;
    height: 49px;
    margin-left: 52px;
}

.box2__container2__con1:first-child{
    margin-top: 16px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.box2__container2__con1:last-child{
    margin-top: 8px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    display: none;
}

.container2__con1__text{
    font-size: 12px;
    margin-right: 37px;
}

.container2__con1__text2{
    font-size: 12px;
    margin-right: 17px;
}

.container2__con1__buttom{
    background-color: white;
    width: 58px;
    height: 15px;
    border: 1px solid #dedede;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
}

.container2__con1__buttom2{
    background-color: white;
    width: 122px;
    height: 15px;
    border: 1px solid #dedede;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
}

.box2__container__menu:first-child{
    width: 366px;
    height: 40px;
    margin-left: 52px;
    border: 1px solid #03a9ff;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.box2__container__menu:last-child{
    width: 366px;
    height: 40px;
    margin-left: 0px;
    border: 1px solid #03a9ff;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #f5f5f5;
}

.container__box2__menu{
    display: flex;
    margin-top: 44px;
}

.body__container__box3{
    width: 834px;
    height: 240px;
    background-color: white;
    margin-top: 20px;
}

.box3__textbox__text1{
    font-size: 18px;
    font-weight: bold;
}

.box3__textbox__text2{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #767676;
}

.box3__textbox__text2 span:not(:last-child){
    margin-bottom: 5px;
}

.container__box3__textbox{
    border-bottom: 1px solid #c8c6c7;
    padding-bottom: 15px;
    padding-top: 30px;
    margin-left: 50px;
}

.container__box3__imgbox img{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.box3__textbox2__text1{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #d12402;
    margin-left: 10px;
}

.box3__textbox2__text1 span:last-child{
    margin-top: 3px;
}

.container__box3__textbox2{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 15px;
}

/* 7페이지 내용 끝 */


/* 풋터 시작 */

.footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bottom__banner__logo{
    width: 1004px;
    border-top: 1px solid #c8c6c7;
    padding-top: 20px;
    padding-bottom: 25px;
}

.bottom__banner__logo img:not(:last-child){
    margin-right:54px
}

.footer__top{
    width: 1004px;
    height: 25px;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

.footer__top__list{
    display: flex;
    font-size: 12px;
    color: #707070;
    height: 13px;
}

.footer__top__list li:not(:last-child){
    margin-right: 5px;
    padding-right: 6px;
    border-right: 1px solid #707070;
}

.footer__top__total{
    font-size: 12px;
    color: #707070;
    width: 200px;
    background-color: #efeeec;
    border-radius: 12px;
    padding-bottom: 1px;
    margin-top: -3px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container{
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer__bottom{
    color: #707070;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 1004px;
    margin-top: 37px;
    margin-bottom: 48px;
}

.footer__bottom ul:not(:first-child){
    margin: 5px 0px;
}

.footer__bottom ul{
    display: flex;
}

.footer__bottom ul li:not(:last-child){
    border-right: 1px solid #707070;
    margin-right: 5px;
    padding-right: 7px;
}

.footer__bottom__box{
    width: 90px;
    height: 14px;
    background-color: #efeeec;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.footer__bottom__masterbox{
    display: flex;
}

/* 풋터 끝 */ 