.header__nav{
    height: 33px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 172px;
    border-bottom: 1px solid #e2e2e2;
}

.nav__menu__box:not(:last-child){
    margin-right: 15px;
}

.nav__menu__box{
    font-size: 12px;   
}

.nav__menu__box a{
    text-decoration: none;
    color: #767676;
}

.header__main__logo{
    display: flex;
    align-items: center;
    margin: 0px 33px;
}

.header__main__logo li{
    padding: 7px 10px;
}

.header__main__logo li:first-child{
    border-right: 1px solid #e2e2e2;
}

.header__main{
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 9.3%;
}

.header__main__search{
    display: flex;
    align-items: center;
    border: 2px solid #03a9ff;
    margin-left: 12%;
    font-size: 12px;
}

.main__search__box{
    width: 230px;
    height: 32px;
    border: none;
}

.main__search__button{
    display: flex;
    justify-content: flex-end;
    background-color: #03a9ff;
    font-size: 20px;
    padding: 5px 5px;
}

.header__main__search span i{
    margin: 0px 10px;
}

.header__main__search span:first-child{
    margin-left: 10px;
}

.main__colorbar{
    margin-top: 34px;
    background-color: #03a9ff;
    height: 34px;
}

.main__colorbar__category{
    display: flex;
    align-items: center;
    background-color: #27303f;
    width: 160px;
    height: 100%;
    margin-left: 170px;
}

.colorbar__category__text{
    font-size: 13px;
    color: white;
}

.colorbar__category__icon{
    margin: 0px 5px 0px 10px;
}

/* ------------ 헤더 끝------------ */


.left__banner{
    display: flex;
    flex-direction: column;
    width: 90px;
    position: absolute;
    top: 601px;
    left: 40px;
    position: fixed;
}

.left__banner__box{
    width: 85px;
    height: 75px;
    border: 1px solid #edebe9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left__banner__box:not(:first-child){
    border-top: none;
}

.banner__box__text{
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.right__banner__title{
    font-size: 11px;
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #444444;
    color: white;
    padding: 11px 10px 11px 10px;
}

.right__banner__title span:last-child{
    color: #03a9ff;
    margin-left: 5px;
}

.right__banner__imgbox img{
    width: 85px;
    height: 85px;
}

.right__banner__imgbox{
    border: 1px solid #edebe9;
    border-top: none;
    width: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right__banner__imgbox img:not(:last-child){
    margin-top: 8px;
}

.right__banner__arrowbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.left__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-right: 21px;
}

.right__banner__arrowbox span{
    margin-top: 3px;
    font-size: 12px;
}

.right__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-left: 21px;
}

.right__banner{
    position: absolute;
    right: 25px;
    top: 601px;
    position: fixed;
}

/* 배너 끝 */

.body__container{
    margin-left: 170px;
    margin-top: 30px;
    width: 1004px;
    height: 680px;
    background-color: #f5f5f5;
}

.body__container__card1{
    margin-left: 85px;
}

.body__container__box1{
    padding-top: 50px;
}

.body__container__box1 span{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
}

.body__container__box1 p{
    color: #767676;
    font-size: 18px;
}

.container__box1__text1{
    margin-top: 20px;
}

.container__box1__text2{
    margin-top: 10px;
    margin-bottom: 30px;
}

.body__conbox{
    margin: 44px 0px 35px 0px;
    width: 324px;
    height: 216px;
}

.body__conbox:first-child{
    border-right: 1px solid #c8c6c7;
    padding-right: 41px;
    margin-left: 52px;
}

.body__conbox:last-child{
    margin-left: 43px;
}

.body__container__box2{
    width: 834px;
    height: 402px;
    border-top: 4px solid #27303f;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container__box2__text1{
    font-size: 18px;
    font-weight: bold;
    color: #03a9ff;
}

.box2__id{
    margin-top: 30px;
    width: 324px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2__ps{
    margin-bottom: 35px;
    width: 324px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2__id span{
    font-size: 12px;
    color: #444444;
}

.box2__ps span{
    font-size: 12px;
    color: #444444;
}

.box2__id input{
    width: 220px;
    height: 32px;
    margin-bottom: 10px;
    border: 1px solid #c8c6c7;
}

.box2__ps input{
    width: 220px;
    height: 32px;
    border: 1px solid #c8c6c7;
}

.box2__buttom{
    width: 324px;
    height: 51px;
    background-color: #03a9ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.--color{
    color: #27303f;
}

.--backcolor{
    background-color: #767676;
}

.box2__container{
    display: flex;
}

.box2__container2{
    background-color: #f5f5f5;
    width: 734px;
    height: 74px;
    margin-left: 52px;
}

.box2__container2__con1:first-child{
    margin-top: 16px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.box2__container2__con1:last-child{
    margin-top: 8px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.container2__con1__text{
    font-size: 12px;
    margin-right: 37px;
}

.container2__con1__text2{
    font-size: 12px;
    margin-right: 17px;
}

.container2__con1__buttom{
    background-color: white;
    width: 58px;
    height: 15px;
    border: 1px solid #dedede;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
}

.container2__con1__buttom2{
    background-color: white;
    width: 122px;
    height: 15px;
    border: 1px solid #dedede;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
}

/* 6페이지 내용 끝 */

.bottom__banner__logo{
    width: 1004px;
    border-top: 1px solid #c8c6c7;
    margin-left: 170px;
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.bottom__banner__logo img:not(:last-child){
    margin-right:58px
}

.footer__top{
    height: 25px;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    padding-top: 13px;
    display: flex;
}

.footer__top__list{
    display: flex;
    font-size: 12px;
    color: #707070;
    margin-left: 170px;
    height: 13px;
}

.footer__top__list li:not(:last-child){
    margin-right: 5px;
    padding-right: 6px;
    border-right: 1px solid #707070;
}

.footer__top__total{
    font-size: 12px;
    color: #707070;
    margin-left: 525px;
    width: 200px;
    background-color: #efeeec;
    border-radius: 12px;
    padding-bottom: 1px;
    margin-top: -3px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom{
    color: #707070;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 37px 0px 48px 170px;
}

.footer__bottom ul:not(:first-child){
    margin: 5px 0px;
}

.footer__bottom ul{
    display: flex;
}

.footer__bottom ul li:not(:last-child){
    border-right: 1px solid #707070;
    margin-right: 5px;
    padding-right: 7px;
}

.footer__bottom__box{
    width: 90px;
    height: 14px;
    background-color: #efeeec;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.footer__bottom__masterbox{
    display: flex;
}