.header__nav{
    height: 33px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12%;
    border-bottom: 1px solid #e2e2e2;
}

.nav__menu__box:not(:last-child){
    margin-right: 15px;
}

.nav__menu__box{
    font-size: 12px;   
}

.nav__menu__box a{
    text-decoration: none;
    color: #767676;
}

.header__main__logo{
    display: flex;
    align-items: center;
    margin: 0px 2%;
}

.header__main__logo li{
    padding: 7px 10px;
}

.header__main__logo li:first-child{
    border-right: 1px solid #e2e2e2;
}

.header__main{
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 9.3%;
}

.header__main__search{
    display: flex;
    align-items: center;
    border: 2px solid #03a9ff;
    margin-left: 12%;
    font-size: 12px;
}

.main__search__box{
    width: 230px;
    height: 32px;
    border: none;
}

.main__search__button{
    display: flex;
    justify-content: flex-end;
    background-color: #03a9ff;
    font-size: 20px;
    padding: 5px 5px;
}

.header__main__search span i{
    margin: 0px 10px;
}

.header__main__search span:first-child{
    margin-left: 10px;
}

.main__colorbar{
    margin-top: 34px;
    background-color: #03a9ff;
    height: 34px;
}

.main__colorbar__category{
    display: flex;
    align-items: center;
    background-color: #27303f;
    width: 160px;
    height: 100%;
    margin-left: 160px;
}

.colorbar__category__text{
    font-size: 13px;
    color: white;
}

.colorbar__category__icon{
    margin: 0px 5px 0px 10px;
}

.main__background{
    background-color: #efeeec;
    height: 390px;
}

.main__background__categorylist{
    width: 160px;
    height: 390px;
    background-color: white;
    margin-left: 160px;
}

.background__categorylist__box{
    margin-left: 20px;
    padding-top: 20px;
    font-size: 13px;
    color: #474643;
}

.main__background__img img{
    position: absolute;
    top:180px;
    left: 320px;
    width: 65%;
    height: 390px;
    background-position: center center;
    background-size: cover;
}

.main{
    border-bottom: 1px solid #c8c6c7;
}

.body{
    display: flex;
    justify-content: center;
    margin-left: 7px;
}

.body__productbox{
    width: 505px;
    padding-top: 30px;
    display: flex;
    margin-bottom: 50px;
}

.body__productbox__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    width: 250px;
    border: 1px solid #e8e8e8;
    border-right: none;
}

.body__productbox__left{
    padding-left: 40px;
}

.body__productbox__left span:first-child{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}

.body__productbox__left span:not(:first-child){
    font-size: 18px;
    color: #767676;
}

.body__productbox__left span:last-child{
    margin-top: 5px;
}

.body__productbox:first-child{
    margin-right: 26px;
}

.body__productbox__right img{
    width: 250px;
}

.subtext{
    font-size: 20px;
    font-weight: bold;
    margin-left: 160px;
}

.subtext__text{
    color:#03a9ff;
}

.body__container__category{
    display: flex;
    align-items: center;
    padding: 0px 160px;
    margin-top: 30px;
    height: 42px;
}

.container__category__right{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 10px 10px 10px 795px;
    border: 1px solid #b1b1b1;
    border-left: none;
}

.category__right__img{
    display: flex;
    margin-left: 10px;
}

.category__right__img img{
    width: 20px;
}

.container__category__left{
    font-size: 15px;
    padding: 13.5px 45px 13.5px 13.5px;
    background-color: #94af76;
}

.container__category__left span{
    color: white;
    font-size: 14px;
    width: 100px;
    display: inline-block;
}

.category__right__img img:first-child{
    margin-right: 5px;
}

.body__container__imgbox{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-left: 7px;
}

.container__imgbox__img img{
    width: 250px;
    height: 220px;
}

.body__container__imgbox > div:not(:last-child){
    margin-right: 11.7px;
}

.container__imgbox__text{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.container__imgbox__text span:first-child{
    font-size: 16px;
    font-weight: bold;
}

.imgbox__text__two{
    font-size: 12px;
    color: gray;
    margin-top: 4px;
    margin-bottom: 6px;
}

.container__imgbox__text span:last-child{
    font-size: 15px;
    font-weight: bold;
}

.--text1{
    background-color: #4f9a94;
}

.--text2{
    background-color: #4ba3c7;
}

.--text3{
    background-color: #6f79a8;
}

.--text4{
    background-color: #9c64a6;
}

.--text5{
    background-color: #ef9a9a;
}

.--text6{
    background-color: #75a478;
}

.--text7{
    background-color: #4bacb8;
}

.--text8{
    background-color: #5d99c6;
}

.--text9{
    background-color: #836fa9;
}
