.header__nav__container{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    height: 34px;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1004px;
    
}

.nav__menu__box:not(:last-child){
    margin-right: 15px;
}

.nav__menu__box{
    font-size: 12px;   
}

.nav__menu__box a{
    text-decoration: none;
    color: #767676;
}

.header__main__logo{
    display: flex;
    align-items: center;
    margin-right: 132px;
}

.header__main__logo li{
    padding: 7px 10px;
}

.header__main__logo li:first-child{
    border-right: 1px solid #e2e2e2;
}

.header__main__container{
    display: flex;
    justify-content: center;
}

.header__main{
    width: 1004px;
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.header__main__search{
    display: flex;
    align-items: center;
    border: 2px solid #03a9ff;
    font-size: 12px;
}

.main__search__box{
    width: 230px;
    height: 32px;
    border: none;
}

.main__search__button{
    display: flex;
    justify-content: flex-end;
    background-color: #03a9ff;
    font-size: 20px;
    padding: 5px 5px;
}

.header__main__search span i{
    margin: 0px 10px;
}

.header__main__search span:first-child{
    margin-left: 10px;
}

.header__main__bar{
    background-color: #03a9ff;
    width: 100%;
    height: 34px;
    margin-top: 23px;
    display: flex;
    justify-content: center;
}

.main__bar__container{
    width: 1004px;
}

.main__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__container__img img{
    background-color: #efeeec;
    width: 1004px;
    height: 390px;
}

.main__container__product{
    display: flex;
    width: 494px;
    height: 200px;
}

.main__container__product:first-child{
    margin-right: 32px;
}

.container__product__textbox{
    background-color: #f6f6f6;
    width: 50%;
    height: 100%;
    border: 1px solid #e8e8e8;
    border-right: none;
}

.container__product__img{
    width: 50%;
    height: 100%;
}

.container__product__textbox > p:first-child{
    font-size: 30px;
    font-weight: bold;
    margin: 47px 0px 0px 41px;
}

.textbox__center{
    margin: 14px 0px 50px 41px;
    font-size: 18px;
    color: #767676;
}

.textbox__center p:first-child{
    margin-bottom: 5px;
}

.product__container{
    display: flex;
    width: 1004px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.container__titlebox__title{
    width: 1004px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.container__titlebox__title p:last-child{
    color: #03a9ff;
    margin-left: 3px;
}

.container__titlebox__bar{
    margin-top: 19px;
    display: flex;
}

.titlebox__bar__left{
    color: white;
    background-color: #94af76;
    width: 182.11px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
}

.titlebox__bar__left span{
    margin-left: 12px;
}

.titlebox__bar__right{
    width: 100%;
    height: 40px;
    border: 1px solid #b1b1b1;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}

.titlebox__bar__right p{
    font-size: 12px;
    margin-right: 10px;
}

.titlebox__bar__right img{
    width: 20px;
    height: 20px;
}

.titlebox__bar__right *:not(:last-child){
    padding-right: 5px;
}

.titlebox__bar__right *:last-child{
    padding-right: 15px;
}

.main__container__barbox{
    width: 1004px;
}

.main__container__imgbox{
    display: flex;
    flex-direction: row;
    width: 1004px;
}

.container__imgbox__img img{
    width: 239px;
    height: 239px;
    margin-top: 35px;
}

.container__imgbox__img:not(:last-child){
    margin-right: 10px;
}

.container__imgbox__text p:first-child{
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

.imgbox__tex__center{
    font-size: 13px;
    color: #707070;
    margin: 6px 0px 7px 0px;
}

.container__imgbox__text p:last-child{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
}

.card__container{
    width: 239px;
}

.card__container:not(:last-child){
    margin-right: 16px;
}

.--color2{
    background-color: #4f9a94;
}

.--color3{
    background-color: #4ba3c7;
}

.--color4{
    background-color: #6f79a8;
}

.--color5{
    background-color: #9c64a6;
}

.--color6{
    background-color: #ef9a9a;
}

.--color7{
    background-color: #75a478;
}

.--color8{
    background-color: #4bacb8;
}

.--color9{
    background-color: #5d99c6;
}

.--color10{
    background-color: #836fa9;
}

.main__container__banner{
    width: 1004px;
    background-color: #f5f5f5;
    display: flex;
}

.container__banner__left{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
    margin: 15px 0px 0px 25px;
    justify-content: center;
    align-items: center;
    width: 102px;
}

.banner__left__text{
    margin-bottom: 7px;
}

.banner__left__text > span{
    color: black;
}

.banner__left__text span b{
    color: #03a9ff;
}

.container__banner__right{
    font-size: 45px;
    font-weight: bold;
    margin: 12px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__right__tel{
    padding-bottom: 15px;
    border-bottom: 1px solid #bababa;
}

.banner__right__tel > span{
    color: #707070;
}

.banner__right__tel span b{
    color: #03a9ff;
}

.banner__right__time{
    font-size: 12px;
    color: #707070;
    margin-top: 15px;
}

/* 풋터 시작 */

.footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bottom__banner__logo{
    width: 1004px;
    border-top: 1px solid #c8c6c7;
    padding-top: 20px;
    padding-bottom: 25px;
}

.bottom__banner__logo img:not(:last-child){
    margin-right:54px
}

.footer__top{
    width: 1004px;
    height: 25px;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

.footer__top__list{
    display: flex;
    font-size: 12px;
    color: #707070;
    height: 13px;
}

.footer__top__list li:not(:last-child){
    margin-right: 5px;
    padding-right: 6px;
    border-right: 1px solid #707070;
}

.footer__top__total{
    font-size: 12px;
    color: #707070;
    width: 200px;
    background-color: #efeeec;
    border-radius: 12px;
    padding-bottom: 1px;
    margin-top: -3px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container{
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer__bottom{
    color: #707070;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 1004px;
    margin-top: 37px;
    margin-bottom: 48px;
}

.footer__bottom ul:not(:first-child){
    margin: 5px 0px;
}

.footer__bottom ul{
    display: flex;
}

.footer__bottom ul li:not(:last-child){
    border-right: 1px solid #707070;
    margin-right: 5px;
    padding-right: 7px;
}

.footer__bottom__box{
    width: 90px;
    height: 14px;
    background-color: #efeeec;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.footer__bottom__masterbox{
    display: flex;
}

/* 풋터 끝 */ 

.left__banner{
    display: flex;
    flex-direction: column;
    width: 90px;
    position: absolute;
    top: 601px;
    right: 90%;
    position: fixed;
}

.left__banner__box{
    width: 85px;
    height: 75px;
    border: 1px solid #edebe9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left__banner__box:not(:first-child){
    border-top: none;
}

.banner__box__text{
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.right__banner__title{
    font-size: 11px;
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #444444;
    color: white;
    padding: 11px 10px 11px 10px;
}

.right__banner__title span:last-child{
    color: #03a9ff;
    margin-left: 5px;
}

.right__banner__imgbox img{
    width: 85px;
    height: 85px;
}

.right__banner__imgbox{
    border: 1px solid #edebe9;
    border-top: none;
    width: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right__banner__imgbox img:not(:last-child){
    margin-top: 8px;
}

.right__banner__arrowbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.left__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-right: 21px;
}

.right__banner__arrowbox span{
    margin-top: 3px;
    font-size: 12px;
}

.right__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-left: 21px;
}

.right__banner{
    position: absolute;
    left: 89%;
    top: 601px;
    position: fixed;
}

/* -------- 배너 끝 ------- */