.header__nav__container{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    height: 34px;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1004px;
    
}

.nav__menu__box:not(:last-child){
    margin-right: 15px;
}

.nav__menu__box{
    font-size: 12px;   
}

.nav__menu__box a{
    text-decoration: none;
    color: #767676;
}

.header__main__logo{
    display: flex;
    align-items: center;
    margin-right: 132px;
}

.header__main__logo li{
    padding: 7px 10px;
}

.header__main__logo li:first-child{
    border-right: 1px solid #e2e2e2;
}

.header__main__container{
    display: flex;
    justify-content: center;
}

.header__main{
    width: 1004px;
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.header__main__search{
    display: flex;
    align-items: center;
    border: 2px solid #03a9ff;
    font-size: 12px;
}

.main__search__box{
    width: 230px;
    height: 32px;
    border: none;
}

.main__search__button{
    display: flex;
    justify-content: flex-end;
    background-color: #03a9ff;
    font-size: 20px;
    padding: 5px 5px;
}

.header__main__search span i{
    margin: 0px 10px;
}

.header__main__search span:first-child{
    margin-left: 10px;
}

.header__main__bar{
    background-color: #03a9ff;
    width: 100%;
    height: 34px;
    margin-top: 23px;
    display: flex;
    justify-content: center;
}

.main__bar__container{
    width: 1004px;
}

.main__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__container__img img{
    background-color: #efeeec;
    width: 1004px;
    height: 390px;
}

.main__container__product{
    display: flex;
    width: 494px;
    height: 200px;
}

.main__container__product:first-child{
    margin-right: 32px;
}

.container__product__textbox{
    background-color: #f6f6f6;
    width: 50%;
    height: 100%;
    border: 1px solid #e8e8e8;
    border-right: none;
}

.container__product__img{
    width: 50%;
    height: 100%;
}

.container__product__textbox > p:first-child{
    font-size: 30px;
    font-weight: bold;
    margin: 47px 0px 0px 41px;
}

.textbox__center{
    margin: 14px 0px 50px 41px;
    font-size: 18px;
    color: #767676;
}

.textbox__center p:first-child{
    margin-bottom: 5px;
}

.product__container{
    display: flex;
    width: 1004px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.container__titlebox__title{
    width: 1004px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.container__titlebox__title p:last-child{
    color: #03a9ff;
    margin-left: 3px;
}