.header__nav{
    height: 33px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 172px;
    border-bottom: 1px solid #e2e2e2;
}

.nav__menu__box:not(:last-child){
    margin-right: 15px;
}

.nav__menu__box{
    font-size: 12px;   
}

.nav__menu__box a{
    text-decoration: none;
    color: #767676;
}

.header__main__logo{
    display: flex;
    align-items: center;
    margin: 0px 33px;
}

.header__main__logo li{
    padding: 7px 10px;
}

.header__main__logo li:first-child{
    border-right: 1px solid #e2e2e2;
}

.header__main{
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 9.3%;
}

.header__main__search{
    display: flex;
    align-items: center;
    border: 2px solid #03a9ff;
    margin-left: 12%;
    font-size: 12px;
}

.main__search__box{
    width: 230px;
    height: 32px;
    border: none;
}

.main__search__button{
    display: flex;
    justify-content: flex-end;
    background-color: #03a9ff;
    font-size: 20px;
    padding: 5px 5px;
}

.header__main__search span i{
    margin: 0px 10px;
}

.header__main__search span:first-child{
    margin-left: 10px;
}

.main__colorbar{
    margin-top: 34px;
    background-color: #03a9ff;
    height: 34px;
}

.main__colorbar__category{
    display: flex;
    align-items: center;
    background-color: #27303f;
    width: 160px;
    height: 100%;
    margin-left: 170px;
}

.colorbar__category__text{
    font-size: 13px;
    color: white;
}

.colorbar__category__icon{
    margin: 0px 5px 0px 10px;
}

/* ------------ 헤더 끝------------ */

/* ------------ 배너 시작  --------- */
.left__banner{
    display: flex;
    flex-direction: column;
    width: 90px;
    position: absolute;
    top: 601px;
    left: 40px;
    position: fixed;
}

.left__banner__box{
    width: 85px;
    height: 75px;
    border: 1px solid #edebe9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left__banner__box:not(:first-child){
    border-top: none;
}

.banner__box__text{
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.right__banner__title{
    font-size: 11px;
    display: flex;
    justify-content: center;
    width: 80px;
    background-color: #444444;
    color: white;
    padding: 11px 10px 11px 10px;
}

.right__banner__title span:last-child{
    color: #03a9ff;
    margin-left: 5px;
}

.right__banner__imgbox img{
    width: 85px;
    height: 85px;
}

.right__banner__imgbox{
    border: 1px solid #edebe9;
    border-top: none;
    width: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right__banner__imgbox img:not(:last-child){
    margin-top: 8px;
}

.right__banner__arrowbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.left__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-right: 21px;
}

.right__banner__arrowbox span{
    margin-top: 3px;
    font-size: 12px;
}

.right__banner__arrow img{
    width: 12px;
    height: 12px;
    margin-left: 21px;
}

.right__banner{
    position: absolute;
    right: 25px;
    top: 601px;
    position: fixed;
}

/* -------- 배너 끝 ------- */

.middle__product{
    margin-left: 170px;
    margin-top: 30px;
}

.middle__product__img1{
    margin-bottom: 30px;
}

.middle__product__img1 img{
    width: 409px;
    height: 409px;
}

.middle__product__img2 img{
    width: 88px;
    height: 88px;
}

.middle__product__img2 img:not(:last-child){
    margin-right: 13px;
}

.middle{    
    display: flex;
}

.middle__field{
    margin-left: 101px;
    margin-top: 33px;
    color: #27303f;
    font-size: 20px;
}

.middle__field > span{
    font-weight: bold;
}

.middle__field__box{
    margin-top: 12px;
    border-top: 1px solid #c8c6c7;
    border-bottom: 1px solid #c8c6c7;
    width: 494px;
    background-color: #fafafa;
}

.field__box__text{
    font-size: 12px;
    margin-left: 30px;
}


.box__text__box1 span:first-child{
    font-weight: bold;
    color: #27303f;
}

.box__text__box1 span:last-child{
    color: #444444;
    margin-left: 110px;
}

.box__text__box1:first-child{
    margin: 20px 0px;
}

.box__text__box1:last-child{
    margin-bottom: 20px;
}

.middle__field__box2{
    padding: 20px 0px 20px 30px;
    background-color: #fafafa;
}

.field__box__text2{
    font-size: 12px;
}

.field__box__text2 span:first-child{
    font-weight: bold;
    margin-right: 120px;
}

.field__box__text2 span:last-child{
    width: 50px;
    height: 15px;
    padding: 3px 12px;
    background-color: #03a9ff;
    font-size: 11px;
    color: white;
    margin: 0 0 0 10px;
}

.middle__field__box3{
    background-color: #fafafa;
    border-top: 1px solid #c8c6c7;
    border-bottom: 1px solid #c8c6c7;
}

.field__box3__text3{
    font-size: 12px;
    padding: 20px 0px 20px 30px;
}

.box3__text__box1 span:first-child{
    font-weight: bold;
    margin-right: 120px;
}

.box3__text__box2{
    margin-top: 21px;
}

.box3__text__box2 span:first-child{
    font-weight: bold;
    margin-right: 50px;
}

.middle__field__box4{
    background-color: #fafafa;
}

.field__box4__text4{
    font-size: 12px;
    padding: 23px 0px 22px 30px;
    border-bottom:  1px solid #c8c6c7;
}

.box4__text4__box1{
    margin-bottom: 30px;
}

.box4__text4__box2{
    margin-bottom: 30px;
}

.box4__text4__box1 span:first-child{
    font-weight: bold;
    margin-right: 110px;
}

.box4__text4__box2 span:first-child{
    font-weight: bold;
    margin-right: 82px;
}

.box4__text4__box3 span:first-child{
    font-weight: bold;
    margin-right: 65px;
}

.box4__text4__box4 span:first-child{
    font-weight: bold;
    margin-right: 94px;
}

.box4__text4__box3 select{
    width: 154px;
    height: 20px;
    border: 1px solid #c8c6c7;
}

.box4__text4__box4 input{
    width: 50px;
    height: 20px;
    border: 1px solid #c8c6c7;
}


.field__box4__text4 div:not(:first-child){
    margin-top: 25px;
}

.field__buttom__box1{
    width: 154px;
    height: 48px;
    background-color: #03a9ff;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field__buttom__box1 span{
    font-size: 18px;
    color: white;
}

.field__buttom__box2{
    width: 154px;
    height: 48px;
    background-color: #0161b2;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field__buttom__box2 span{
    font-size: 18px;
    color: white;
}

.field__buttom__box3{
    width: 154px;
    height: 48px;
    background-color: #e2e2e2;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field__buttom__box3 span{
    font-size: 18px;
    color: #767676;
}

.middle__field__buttom{
    display: flex;
    margin-top: 20px;
}

.middle__field__buttom div:not(:last-child){
    margin-right: 16px;
}