.header__top{
    display: flex;
    justify-content: center;
    height: 33px;
}

.header__top__box{
    width: 1004px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__box__text1{
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.top__box__text1 p{
    color: #03a9ff;
    margin-right: 3px;
}

.top__box__text2{
    display: flex;
    font-size: 12px;
}

.top__box__text2 p:first-child{
    margin-right: 20px;
}

.top__box__text2 p a{
    text-decoration: none;
    color: #707070;
}

.header__nav{
    background-color: #03a9ff;
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
}

.header__nav__menu ul{
    display: flex;
    align-items: center;
    width: 1004px;
    height: 34px;
    background-color: #27303f;
    color: white;
    font-size: 13px;
}

.header__nav__menu ul li{
    font-size: 13px;
    text-align: center;
    width: 169px;
}

.header__nav__menu ul li:not(:last-child){
    border-right: 1px solid #767676;
}

.header__nav__menu ul li a{
    text-decoration: none;
    color: white;
}

/* ------------- 헤더 완료 ------------ */